demo.quickretro.app {
   encode gzip
   reverse_proxy app:8080
}

quickretro.app {
   encode gzip

   root * ./homepage
   file_server

   route /images/* {
      uri strip_prefix /images
      root * ./homepage/images
      file_server
   }
}

# quickretro.app {
#    encode gzip
#    reverse_proxy app:8080
# }

# localhost {
#    encode gzip
#    reverse_proxy app:8080
# }

# Uncomment below block and comment above block when used with comnpose.multiservice.yml
# localhost {
#    encode gzip
#    reverse_proxy  {
#        to app:8080 app01:8080

#        lb_policy round_robin
#        lb_retries 2
#    }
# }