[server]
# When self-hosting, add your domain to allowed_origins list. 
# For e.g. if you are hosting your site at https://example.com, allowed_origins will look like -
# allowed_origins = [
#     "https://example.com"
# ]
allowed_origins = [
    "http://localhost:8080",
    "https://localhost:8080",
    "http://localhost:5173",
    "https://localhost",
    "https://quickretro.app",
    "https://demo.quickretro.app"
]
turnstile_site_verify_url = "https://challenges.cloudflare.com/turnstile/v0/siteverify"
# Maximum number of characters allowed for each category name
# For the front-end validation, keep the same value in (src/frontend/.env [VITE_MAX_CATEGORY_TEXT_LENGTH])
max_category_text_length = 80
# Maximum number of characters allowed for board name, team name
# For the front-end validation, keep the same value in (src/frontend/.env [VITE_MAX_TEXT_LENGTH])
max_text_length = 80

[websocket]
# Maximum message size (in bytes) allowed from peer for the websocket connection
# For the front-end validation, keep the same value in (src/frontend/.env [VITE_MAX_WEBSOCKET_MESSAGE_SIZE_BYTES])
max_message_size_bytes = 1024

[data]
# Format: <number><unit>
# Units: s=seconds, m=minutes, h=hours, d=days
# Examples: "50s" for 50 seconds, "5m" for 5 minutes, "2h" for 2 hours, "7d" for 7 days
auto_delete_duration = "2d"